<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="" ResponseEncoding="UTF-8" Inherits="" Debug="False" Description="Template description here." %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="SchemaExplorer" %>

<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>

<%-- 注册 成员函数 --%>
<%@ Property Name="SourceData" Type="SchemaExplorer.DatabaseSchema" Optional="False" Category="Context" Description="指定的数据库" %>

<%-- 启用 MAP方式 System-CSharpAlias  --%>
<%@ Map Name="CSharpAlias" Src="System-CSharpAlias" Description="System to C# Type Map" %>
<%@ Map Name="JavaAlias" Src="JavaAlias.csmap" Description="Oracle to Java Type Map" %>

<script runat="template">
<!-- #include file=Function.cs -->
//Debugger.Break();
public TableSchemaCollection GetTableCollection(DatabaseSchema dataBase)
{
    TableSchemaCollection tables = new TableSchemaCollection(dataBase.Tables);
    return tables;
}
</script>
<?xml version="1.0" encoding="utf-8"?>
<s:Application xmlns:fx="http://ns.adobe.com/mxml/2009"
			   xmlns:s="library://ns.adobe.com/flex/spark"
			   xmlns:user="org.breeze.flex.User"
			   xmlns:mx="library://ns.adobe.com/flex/mx"
			   xmlns:flex="org.breeze.flex.*"
			   width="100%" height="100%">
	<fx:Script>
		<![CDATA[			
			
		]]>
		
		
	</fx:Script>
	
	<fx:Declarations>
		<s:RemoteObject id="ro" destination="consultationService" endpoint="http://localhost:8080/breeze/messagebroker/amf"/>
	</fx:Declarations>
	
	<s:controlBarContent>
	</s:controlBarContent>
	<mx:TabNavigator x="0" y="0" width="100%" height="100%">
        <% TableSchemaCollection tables = GetTableCollection(SourceData);
			foreach(TableSchema dt in tables)
			{ %>
           <s:ModuleLoader width="100%" height="100%" label="<%=ModelName(dt.Name)%>" url="./module/<%=ModelName(dt.Name)%>Module.swf"></s:ModuleLoader>
		<%} %>
	</mx:TabNavigator>
</s:Application>