<%-- 
Name:
Author: 
Description: 
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" ResponseEncoding="UTF-8" Src="" Inherits="" Debug="True" Description="Template description here." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>

<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>

<%-- 注册 定义的成员变量 --%>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="DB"  Description="请选择名的数据来源" %>
<%@ Property Name="RootTableSpaceName" Type="System.String" Default="com.founder.hcms.entity" Optional="False" Category="Context" Description="源码输出的模块名称" %>

<%-- 启用 MAP方式 System-CSharpAlias  --%>
<%--@ Map Name="CSharpAlias" Src="System-CSharpAlias" Description="System to C# Type Map" --%>
<%@ Map Name="JavaAlias" Src="System-JavaAlias.csmap" Description="Oracle to Java Type Map" %>

<script runat="template">
<!-- #include file=getNamefunction.cs -->

//Debugger.Break();


</script>

<%-- 启用 MAP方式 System-CSharpAlias  --%>

package com.founder.hcms.entity;

import java.io.Serializable;

import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.Id;
import javax.persistence.Table;

@Entity
@Table(name="<%= SourceTable.Name%>")
public class <%= ModelName(SourceTable.Name)%> extends BaseObject {

    private static final long serialVersionUID = 1L;	

	<%-- 成员变量 --%>
    <% foreach (ColumnSchema column in this.SourceTable.Columns) 
    { 
    %>
	private <%= JavaAlias[column.SystemType.FullName]%> <%= GetMemberVariableName(column.Name) %>;    
    <% 
    }
    %>

	<% foreach (ColumnSchema column in this.SourceTable.Columns) 
    { 
    %>

	public <%= JavaAlias[column.SystemType.FullName]%> <%= getFunctionMemberVariableName(column.Name)%>() {
		return <%= GetMemberVariableName(column.Name)%>;
	}

	public void <%= setFunctionMemberVariableName(column.Name)%>(<%= JavaAlias[column.SystemType.FullName]%> <%= GetMemberVariableName(column.Name)%>) {
		this.<%= GetMemberVariableName(column.Name)%> = <%= GetMemberVariableName(column.Name)%>;
	}
    <% 
    } 
    %>
}
