/* Site
   -------------------------------- */
* { margin: 0; padding: 0; }

body {font-size: 12px; font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif"; background-color:#eee}
table {font-size: 12px; width:100%;margin:0px;background-color:#fff; line-height:25px;border-collapse:collapse;word-break:keep-all;}
textarea{font-size: 12px;}

a:link   { color: #2f2f2f; text-decoration: none}
a:visited{ color: #2f2f2f; text-decoration: none}
a:hover  { color: #005AC1; text-decoration: none}


.cursor-point{cursor: pointer}
.tool-bar {list-style: none outside none; clear: both;  height:20px; margin:10px 20px;  font-size: 0.8em;}
.tool-bar li{float:right;margin:0px 0px}
.align-center{width:800px;margin-right: auto; margin-left: auto;}
.float-left { float: left; }
.float-right { float: right; }
.clear { clear: both; }

.input-readonly{border:0;border-style:none;}
.textarea-readonly{border:0;overflow-y:hidden;}

/* Table
   -------------------------------- */
.table-list td,.table-list th{overflow:hidden;text-align:left; }
.table-list th{cursor:pointer;padding-left:4px;padding-right:4px;background:#666;color:#fff; border-style:solid;border-color:#fff; border-width:1px}
.table-list td{padding-left:4px;}

.table-form td,.table-form th{overflow:hidden;}
.table-form th{padding-left:4px; text-align:right;vertical-align:top}
.table-form td{padding-left:4px;}

.l-odd{background:#fff}
.l-even{background:#eee}
.l-selected{background:#bbb;}

/* tip css for jQuery */
.tip s {position: absolute;margin:5px 0px 0px 0px;height: 0;width: 0;line-height: 0;border-color: transparent #FFC340 transparent transparent;border-style: dashed solid dashed dashed;border-width: 6px;}
.tip i {position: absolute;margin:5px 0px 0px 1px;height: 0;width: 0;line-height: 0;border-color: transparent #FFFCC7 transparent transparent;border-style: dashed solid dashed dashed;border-width: 6px;}
.tip .content {position: absolute;border: 1px solid #FFC340;border-radius:5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;margin:0px 0px 0px 12px;background-color: #FFFCC7;padding:4px 6px 4px 0px;box-shadow: 3px 3px 4px #999;-moz-box-shadow: 3px 3px 4px #999;-webkit-box-shadow: 3px 3px 4px #999;/* For IE 5.5 - 7 */filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999' );/* For IE 8 */-ms-filter:	"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";}


/* Layout
   -------------------------------- */
#top-bar {
	background: #1b5790; /* Digg Blue */
	min-height: 55px;
	font-size: 12px;
	font-weight: bold;
	width:100%;
	}
#footer {
	clear:both;
	background: #1b5790;
	padding: 2px;
	color: white;
	font-size: 10px;
	margin: 5px 0 0 0;
	}
#footer a {
	color: white;
}

#right-side {
	float: right;
	padding-top: 15px;
	}
#right-side img {
	border: 1px solid white;
	vertical-align: middle;
}
#right-side a {
	color: white;
	border-left: 1px solid white;
	height: 10px;
	padding-left: 10px;
}
#right-side a.first {
	border: none;
	padding: 0;
}
   
