<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.breeze.dao.AccountMapper">

  <cache />

  <select id="getAllAccountCount" resultType="int">
    SELECT COUNT(*)  FROM ACCOUNT
  </select>
  
  <select id="getAllAccount"  resultType="Account">
    SELECT
          ACCOUNT.USERID,
          ACCOUNT.PASSWORD,
          ACCOUNT.EMAIL,
          ACCOUNT.FIRSTNAME,
          ACCOUNT.LASTNAME,
          ACCOUNT.STATUS,
          ACCOUNT.ADDRESS1,
          ACCOUNT.ADDRESS2,
          ACCOUNT.CITY,
          ACCOUNT.STATE,
          ACCOUNT.ZIP,
          ACCOUNT.COUNTRY,
          ACCOUNT.PHONE
    FROM ACCOUNT
  </select>
  
  <select id="getAccountByUserID" parameterType="Long" resultType="Account">
    SELECT
          ACCOUNT.USERID,
          ACCOUNT.PASSWORD,
          ACCOUNT.EMAIL,
          ACCOUNT.FIRSTNAME,
          ACCOUNT.LASTNAME,
          ACCOUNT.STATUS,
          ACCOUNT.ADDRESS1,
          ACCOUNT.ADDRESS2,
          ACCOUNT.CITY,
          ACCOUNT.STATE,
          ACCOUNT.ZIP,
          ACCOUNT.COUNTRY,
          ACCOUNT.PHONE
    FROM ACCOUNT
    WHERE ACCOUNT.USERID = #{userid}
  </select>
  
  <delete id="deleteAccountByUserID" parameterType="Long">
    DELETE FROM ACCOUNT WHERE USERID = #{userid}
  </delete>
  
  <insert id="insertAccount" parameterType="Account">
    INSERT INTO ACCOUNT
      (EMAIL,PASSWORD,FIRSTNAME, LASTNAME, STATUS, ADDRESS1, ADDRESS2, CITY, STATE, ZIP, COUNTRY, PHONE, USERID)
    VALUES
      (#{email}, #{password}, #{firstName}, #{lastName}, #{status}, #{address1},  #{address2}, #{city}, #{state}, #{zip}, #{country}, #{phone}, #{userid})
  </insert>
  
  <update id="updateAccount" parameterType="Account">
    UPDATE ACCOUNT SET
      EMAIL = #{email},
      FIRSTNAME = #{firstName},
      LASTNAME = #{lastName},
      STATUS = #{status},
      address1 = #{address1},
      address2 = #{address2},
      CITY = #{city},
      STATE = #{state},
      ZIP = #{zip},
      COUNTRY = #{country},
      PHONE = #{phone}
    WHERE USERID = #{userid}
 </update>
  
</mapper>