<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.breeze.dao.AccountMapper">
  <cache />
  <resultMap id="Account" type="org.breeze.entity.Account" >
    <result column="USERID" property="userid"/>
    <result column="PASSWORD" property="password"/>
    <result column="EMAIL" property="email"/>
    <result column="FIRSTNAME" property="firstname"/>
    <result column="LASTNAME" property="lastname"/>
    <result column="STATUS" property="status"/>
    <result column="ADDRESS1" property="address1"/>
    <result column="ADDRESS2" property="address2"/>
    <result column="CITY" property="city"/>
    <result column="STATE" property="state"/>
    <result column="ZIP" property="zip"/>
    <result column="COUNTRY" property="country"/>
    <result column="PHONE" property="phone"/>
  </resultMap>

  <!--count -->
  <select id="count" resultType="int">
    SELECT COUNT(*)  FROM ACCOUNT
  </select>
  
  <!--select -->
  <select id="select" parameterType="org.breeze.entity.Page" resultMap="Account">
    SELECT
        USERID,PASSWORD,EMAIL,FIRSTNAME,LASTNAME,STATUS,ADDRESS1,ADDRESS2,CITY,STATE,ZIP,COUNTRY,PHONE
    FROM ACCOUNT
	<if test="start != null" >
	LIMIT #{start}, #{size}
	</if>
  </select>
  
  <!--get -->
  <select id="get" parameterType="Long" resultMap="Account">
    SELECT
        USERID,PASSWORD,EMAIL,FIRSTNAME,LASTNAME,STATUS,ADDRESS1,ADDRESS2,CITY,STATE,ZIP,COUNTRY,PHONE
    FROM ACCOUNT
    WHERE USERID = #{userid}
  </select>
  
  <!--delete -->
  <delete id="delete" parameterType="Long">
    DELETE FROM ACCOUNT WHERE USERID = #{userid}
  </delete>
  
  <!--insert -->
  <insert id="insert" parameterType="Account">
    INSERT INTO ACCOUNT
      (USERID,PASSWORD,EMAIL,FIRSTNAME,LASTNAME,STATUS,ADDRESS1,ADDRESS2,CITY,STATE,ZIP,COUNTRY,PHONE)
    VALUES
      (#{userid},#{password},#{email},#{firstname},#{lastname},#{status},#{address1},#{address2},#{city},#{state},#{zip},#{country},#{phone})
  </insert>
  
   <!--update -->
  <update id="update" parameterType="Account">
    UPDATE ACCOUNT SET
    USERID=#{userid},PASSWORD=#{password},EMAIL=#{email},FIRSTNAME=#{firstname},LASTNAME=#{lastname},STATUS=#{status},ADDRESS1=#{address1},ADDRESS2=#{address2},CITY=#{city},STATE=#{state},ZIP=#{zip},COUNTRY=#{country},PHONE=#{phone}
    WHERE USERID = #{userid}
 </update>
  
</mapper>