<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.breeze.dao.RoleMapper">
  <cache />
  <resultMap id="Role" type="org.breeze.entity.Role" >
    <result column="ROLE_ID" property="roleId"/>
    <result column="ENABLE" property="enable"/>
    <result column="NAME" property="name"/>
  </resultMap>

  <!--count -->
  <select id="count" resultType="int">
    SELECT COUNT(*)  FROM ROLE
  </select>
  
  <!--select -->
  <select id="select" parameterType="org.breeze.core.web.Page" resultMap="Role">
    <if test="start != null" >
	SELECT * FROM ( SELECT ROW_.*, ROWNUM ROWNUM_ FROM (
	</if>
	SELECT
        ROLE_ID,ENABLE,NAME
    FROM ROLE
	<if test="start != null" >
	) ROW_ ) WHERE ROWNUM_ &gt;#{start} and ROWNUM_ &lt; (#{start} + #{size})
	</if>
  </select>
  
  <!--get -->
  <select id="get" parameterType="Integer" resultMap="Role">
    SELECT
        ROLE_ID,ENABLE,NAME
    FROM ROLE
    WHERE ROLE_ID = #{roleId}
  </select>
  
  <!--delete -->
  <delete id="delete" parameterType="Integer">
    DELETE FROM ROLE WHERE ROLE_ID = #{roleId}
  </delete>
  
  <!--insert -->
  <insert id="insert" parameterType="Role">
    INSERT INTO ROLE
      (ROLE_ID,ENABLE,NAME)
    VALUES
      (#{roleId},#{enable},#{name})
  </insert>
  
   <!--update -->
  <update id="update" parameterType="Role">
    UPDATE ROLE SET
    ROLE_ID=#{roleId},ENABLE=#{enable},NAME=#{name}
    WHERE ROLE_ID = #{roleId}
 </update>
  
</mapper>