<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.breeze.dao.RoleResourceMapper">
  <cache />
  <resultMap id="RoleResource" type="org.breeze.entity.RoleResource" >
    <result column="ID" property="id"/>
    <result column="ROLE_ID" property="roleId"/>
    <result column="RESOURCE_ID" property="resourceId"/>
  </resultMap>

  <!--count -->
  <select id="count" resultType="int">
    SELECT COUNT(*)  FROM ROLE_RESOURCE
  </select>
  
  <!--select -->
  <select id="select" parameterType="org.breeze.core.web.Page" resultMap="RoleResource">
    <if test="start != null" >
	SELECT * FROM ( SELECT ROW_.*, ROWNUM ROWNUM_ FROM (
	</if>
	SELECT
        ID,ROLE_ID,RESOURCE_ID
    FROM ROLE_RESOURCE
	<if test="start != null" >
	) ROW_ ) WHERE ROWNUM_ &gt;#{start} and ROWNUM_ &lt; (#{start} + #{size})
	</if>
  </select>
  
  <!--get -->
  <select id="get" parameterType="Integer" resultMap="RoleResource">
    SELECT
        ID,ROLE_ID,RESOURCE_ID
    FROM ROLE_RESOURCE
    WHERE ID = #{id}
  </select>
  
  <!--delete -->
  <delete id="delete" parameterType="Integer">
    DELETE FROM ROLE_RESOURCE WHERE ID = #{id}
  </delete>
  
  <!--insert -->
  <insert id="insert" parameterType="RoleResource">
    INSERT INTO ROLE_RESOURCE
      (ID,ROLE_ID,RESOURCE_ID)
    VALUES
      (#{id},#{roleId},#{resourceId})
  </insert>
  
   <!--update -->
  <update id="update" parameterType="RoleResource">
    UPDATE ROLE_RESOURCE SET
    ID=#{id},ROLE_ID=#{roleId},RESOURCE_ID=#{resourceId}
    WHERE ID = #{id}
 </update>
  
</mapper>